:root {
  --text-color: rgb(245, 245, 245);
  --card-bg-color: rgb(5, 5, 5);

  --main-transition-time: 0.5s;

  --card-width: 160px;
  --card-height: 230px;
  --card-padding: 2em;
  --card-border-radius: 1em;
  --card-box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);

  --main-text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  --scrollbar-width: 7px;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  overflow: overlay;
}

.hide {
  display: none;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  padding: var(--card-padding);
  box-shadow: var(--card-box-shadow);
  border-radius: var(--card-border-radius);
  animation: card-show-animation 1s ease forwards;
  margin: 10px;
}

@keyframes card-show-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-text {
  color: transparent;
  animation: text-animation 6s ease infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-clip: text;
}

@keyframes text-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #eaedee;
  border-radius: 20px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

